/*Emily Godwin css styling v1.0*/

/*page background*/
pageBackground{
    color: #E5FFF9
}

/*header class*/
headerBar{
    color: #C3F1FF
}

/*post button*/
postButton{
    color: #96E6FF
}

/*sort buttons*/
sortingCategories{
    color: #96E6FF
}

/*back to top button*/
backToTop{
    color: #96E6FF
}

/*Bean*/
bean{
    color: #FFD075
}

/* join button */
joinButton{
    color: #818DFF
}

menuArrow{
    color: #818DFF
}