/* File: globalstylesheet.css
    @author: Ryan Dombek, Emily Godwin
    Description: This file contains the global style sheet*/

body {
    background-color: #E5FFF9
}
/*header*/
.header {
    background-color: #C3F1FF;
    font-size: 50px;
    text-align: center;
	height:95px;
    padding-left: 10px;
    padding-top: 10px;
}

/*logo*/
.logo {
    width: 120px;
    margin-top: 0px;
    float: left;
}

.avatar {
    height: 100%;
    float: right;
}

/*page*/
.page {
    margin: 0px;
    height: 100vh;
    padding-top: 100px;
}