.post-wrapper {
    background-color: lightslategray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.post-wrapper .button {
    width: 100px;
    height: 25px;
    background-color: green;
    border-radius: 8px;
    background-color: #6259df;
    font-size: medium;
    color: white;
}

.post-wrapper .vote-panel input {
    width: 50px;
    height: 50px;
}

.post-wrapper .vote-panel {
    display: inline-block;
}

.post-wrapper .vote-panel .vote-button {
    display: block;
}

.post-wrapper .post-panel {
    display: inline-block;
    width: 80%;
    background-color: green;
}

.post-panel .post-panel__reply-line {
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-wrapper .post-panel #replyContent {
    width: 350px;
    margin: auto;
}

.post-wrapper .post-panel #post {
    width: 90px;
    margin: auto;
}

.post-panel__top-line {
    background-color: pink;
}

#communityInfo {
    height: 20px;
    top: 285px;
    left: 500px;
    border-radius: 8px;
    background-color: gainsboro;
}

.post-wrapper #postTitle {
    height: 20px;
    top: 320px;
    left: 150px;
    border-radius: 8px;
    background-color: gainsboro;
}

#ownerContent {
    height: 100px;
    top: 355px;
    left: 150px;
    background-color: gainsboro;
}

#replyContent {
    width: 80%;
    height: 20px;
    top: 470px;
    left: 150px;
    background-color: gainsboro;
}