.post-wrapper {
    display: inline-block;
    background-color: lightslategray;
    top: 300px;
    width: 950px;
    height: 230px;
    margin-bottom: 10px;
}

.post-wrapper .vote-panel{
    display: inline-block;
    width: 10%;
    background-color: orange;
}

.post-wrapper .post-panel {
    display: inline-block;
    width: 80%;
    background-color: green;
}

.post-panel__top-line {
    background-color: pink;
}

#ownerName {
    width: 300px;
    height: 20px;
    /* position: absolute; */
    top: 285px;
    left: 150px;
    border-radius: 8px;
    text-align: left;
    background-color: gainsboro;
}

#communityInfo {
    width: 300px;
    height: 20px;
    /* position: absolute; */
    top: 285px;
    left: 500px;
    border-radius: 8px;
    background-color: gainsboro;
}

#postTitle {
    width: 650px;
    height: 20px;
    /* position: absolute; */
    top: 320px;
    left: 150px;
    border-radius: 8px;
    background-color: gainsboro;
}

#ownerContent {
    width: 650px;
    height: 100px;
    /* position: absolute; */
    top: 355px;
    left: 150px;
    background-color: gainsboro;
}

#replyContent {
    width: 80%;
    height: 20px;
    /* position: absolute; */
    top: 470px;
    left: 150px;
    background-color: gainsboro;
}

#post {
    width: 100px;
    height: 25px;
    /* position: absolute; */
    top: 470px;
    left: 830px;
    border-radius: 8px;
    background-color: #818DFF;
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-size: medium;
    color: white;
}

#like {
    width: 100px;
    height: 25px;
    /* position: absolute; */
    top: 285px;
    left: 830px;
    border-radius: 8px;
    background-color: #818DFF;
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-size: medium;
    color: white;
}

#upArrow {
    width: 50px;
    height: 50px;
    /* position: absolute; */
    top: 300px;
    left: 50px;
    border-radius: 8px;
    background-color: #6259df;
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-size: large;
    font-weight: bold;
    color: white;
}

#downArrow {
    width: 50px;
    height: 50px;
    /* position: absolute; */
    top: 430px;
    left: 50px;
    border-radius: 8px;
    background-color: #6259df;
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-size: large;
    font-weight: bold;
    color: white;
}