{% macro change_password_form(changePasswordForm) %}
<form action="" method="POST">
    {{ changePasswordForm.hidden_tag() }}
    <div>
        {% if changePasswordForm.newPassword.errors %}
        {{ changePasswordForm.newPassword(style="border-radius: 8px;height: 30px;width: 200px;")}}
        <div class="invalid-feedback">
            {% for error in changePasswordForm.newPassword.errors %}
            <span>{{ error }}</span>{% endfor %}
        </div>
        {% else %} {{ changePasswordForm.newPassword(class="form-control form-control-lg") }} {% endif %}
    </div>
    <div>
        {% if changePasswordForm.verifyPassword.errors %}
        {{ changePasswordForm.verifyPassword(style="border-radius: 8px;height: 30px;width: 200px;")}}
        <div class="invalid-feedback">
            {% for error in changePasswordForm.verifyPassword.errors %}
            <span>{{ error }}</span>{% endfor %}
        </div>
        {% else %} {{ changePasswordForm.verifyPassword(class="form-control form-control-lg") }} {% endif %}
    </div>
    <div class="save-changes-button">
        {{ changePasswordForm.submit(class="button-style-a save-button") }}
    </div>
</form>
{% endmacro %}