{% macro change_tagline_form(changeTaglineForm) %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile-settings.css') }}" />
<form action="" method="POST">
    {{ changeTaglineForm.hidden_tag() }}
    <div>
        {% if changeTaglineForm.taglineChange.errors %}
        {{ changeTaglineForm.taglineChange(class="form-control form-control-lg is-invalid")}}
        <div class="invalid-feedback">
            {% for error in changeTaglineForm.taglineChange.errors %}
            <span>{{ error }}</span> {% endfor %}
        </div>
        {% else %} {{ changeTaglineForm.taglineChange(class="form-control form-control-lg") }} {% endif %}
        <div class="save-changes-button">
            {{ changeTaglineForm.submit(class="button-style-a save-button") }}
        </div>
    </div>
</form>
{% endmacro %}