<!--File: community_creation_content.html
    @author: Emily Godwin
    Description: This file contains the community creation page template
        that hosts the form to create a community-->

{% macro community_creation_content(communityInfoForm) %}
<!--CSS Stylesheet-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/community-creation.css') }}" />
    <!--body block-->
    <div class="community-creation-wrapper">
        <form action="" method="POST">
            {{ communityInfoForm.hidden_tag() }}
            <div class="user-info-pane">
                <!-- <div class="user-details-pane"> -->
                    <!--enter the community name-->
                    <div>
                        {% if communityInfoForm.communityname.errors %}
                        {{ communityInfoForm.communityname(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            <!-- loop through errors-->
                            {% for error in communityInfoForm.communityname.errors %}
                            <span>{{ error }}</span> {% endfor %}
                        </div>
                        {% else %} {{ communityInfoForm.communityname(class="form-control form-control-lg") }} {% endif %}
                    </div>

                    <!--enter the community tagline-->
                    <div>
                        {% if communityInfoForm.communitytagline.errors %}
                        {{ communityInfoForm.communitytagline(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            <!-- loop through errors-->
                            {% for error in communityInfoForm.communitytagline.errors %}
                            <span>{{ error }}</span> {% endfor %}
                        </div>
                        {% else %} {{ communityInfoForm.communitytagline(class="form-control form-control-lg") }} {% endif %}
                    </div>

                    <!--enter the community content-->
                    <div>
                        {% if communityInfoForm.communitycontent.errors %}
                        {{ communityInfoForm.communitycontent(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            <!-- loop through errors-->
                            {% for error in communityInfoForm.communitycontent.errors %}
                            <span>{{ error }}</span> {% endfor %}
                        </div>
                        {% else %} {{ communityInfoForm.communitycontent(class="form-control form-control-lg") }} {% endif %}
                    </div>
                <!-- </div> -->
            </div>
            <!--enter the community avatar-->
            <div class="avatar-bubble-pane">
                <div class="avatar-change-pane">
                    <img class="avatar-change-bubble" src="{{ url_for('static', filename='assets/imagefiles/Profile/bee_avatar.png') }}" />
                    <img class="avatar-change-bubble" src="{{ url_for('static', filename='assets/imagefiles/Profile/beaver_avatar.png') }}" />
                    <img class="avatar-change-bubble" src="{{ url_for('static', filename='assets/imagefiles/Profile/elephant_avatar.png') }}" />
                    <img class="avatar-change-bubble" src="{{ url_for('static', filename='assets/imagefiles/Profile/frog_avatar.png') }}" />
                    <img class="avatar-change-bubble" src="{{ url_for('static', filename='assets/imagefiles/Profile/giraffe_avatar.png') }}" />
                    <img class="avatar-change-bubble" src="{{ url_for('static', filename='assets/imagefiles/Profile/koala_avatar.png') }}" />
                    <img class="avatar-change-bubble" src="{{ url_for('static', filename='assets/imagefiles/Profile/lion_avatar.png') }}" />
                    <img class="avatar-change-bubble" src="{{ url_for('static', filename='assets/imagefiles/Profile/macaw_avatar.png') }}" />
                    <img class="avatar-change-bubble" src="{{ url_for('static', filename='assets/imagefiles/Profile/owl_avatar.png') }}" />
                    <img class="avatar-change-bubble" src="{{ url_for('static', filename='assets/imagefiles/Profile/penguin_avatar.png') }}" />
                    <img class="avatar-change-bubble" src="{{ url_for('static', filename='assets/imagefiles/Profile/spider_avatar.png') }}" />
                    <img class="avatar-change-bubble" src="{{ url_for('static', filename='assets/imagefiles/Profile/whale_avatar.png') }}" />
                </div>
            </div>
            <div class="save-avatar">
                {{ communityInfoForm.communityavatar(style="border-radius: 8px;height: 30px;width: 200px;") }}
                {{ communityInfoForm.submit(class="button-style-a save-button")}}
            </div>
        </form>
    </div>
{% endmacro %}