<!--extend base-->
{% extends 'base.html' %}
<!-- imports -->
{% import 'make_post.html' as makePostTemplate %}
{% import 'sort_post.html' as sortPostTemplate %}
{% import 'post_reply.html' as post_reply %}
{% import 'random_component2.html'as rando_component2 %}


{% block addedCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/feed.css') }}" /> 
{% endblock %}

<!--search bar block-->
{% block search %}
<div class="search-container" id="search-container">
    <input id="search-input" type="search" id="form1" class="form-control" placeholder="Search Here"/>
</div>
{% endblock %}

<!-- avatar block -->
{% block avatar %}
<a href="/profilepage"><img class="avatar" src="{{ url_for('static', filename='assets/imagefiles/Profile/' + userInfo.avatar) }}" /></a>
{% endblock %}

<!--body block-->
{% block body %}
<div class="page">
    <div class="content-view">
        <!--left block-->
        <div class="post-pane">
            <!--float the post form at the top-->
            <div>
                {{ makePostTemplate.make_post(makePostForm) }}
                {{ sortPostTemplate.sort_post(sortPostForm) }}
            </div>
            {% for post in posts %}
                {{ post_reply.post_reply(replyForm, post) }}
            {% endfor %}
            <!--display the available posts below-->
            <!--post loop-->
            <!--post macros pulled in-->
        </div>


        
        <!--right block-->
        <div class="community-pain">
            <p class="community-label">Communities</p>
            {{ rando_component2.second_thing(communityInfo, communityPainForm) }}
            {{ rando_component2.second_thing(communityInfo, communityPainForm) }}
            {{ rando_component2.second_thing(communityInfo, communityPainForm) }}
            {{ rando_component2.second_thing(communityInfo, communityPainForm) }}
            {{ rando_component2.second_thing(communityInfo, communityPainForm) }}
            {{ rando_component2.second_thing(communityInfo, communityPainForm) }}
            {{ rando_component2.second_thing(communityInfo, communityPainForm) }}
        </div>
    </div>
</div>
{% endblock %}

                <!-- <form action="" method="POST">
                    {{ makePostTemplate.make_post(makePostForm) }} 
                    {{ sortPostTemplate.sort_post(sortPostForm) }}
                </form> -->


                <!-- {{ post_reply.post_reply(replyForm) }} 
                {{ post_reply.post_reply(replyForm) }} 
                {{ post_reply.post_reply(replyForm) }} 
                {{ post_reply.post_reply(replyForm) }} 
                {{ post_reply.post_reply(replyForm) }} 
                {{ post_reply.post_reply(replyForm) }} -->