{% macro post(replyForm, postObject) %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/post.css') }}" />
<div class="post-wrapper">

    <!--left panel : up and down buttons-->
    <div class="vote-panel">
        {{ replyForm.upArrow(class="vote-button button") }} 
        {{ replyForm.downArrow(class="vote-button button") }}
    </div>
    <!--right panel: post content-->
    <div class="post-panel">
        <div class="post-panel__top-line">
            <span class="owner-name">author</span> | <span class="community-content">community</span>
            {{ replyForm.join(class="button-style-a") }}
        </div>
        <div class="post-panel__title-line">
            <span class="post-title">Post Title</span>
        </div>
        <div class="post-panel__post-content">
            <p class="post-content">All of the news . . .</p>
        </div>
        <div class="post-panel__reply-line">
            {{ replyForm.replyContent(class="reply-content") }} 
            {{ replyForm.post(class="button-style-b") }} 
        </div>
    </div>


    
</div>

{% endmacro %}