{% macro post(replyForm, postObject) %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/post.css') }}" />
<div class="post-wrapper">

    <!--left panel : up and down buttons-->
    <div class="vote-panel">
        {{ replyForm.upArrow(class="vote-button button") }} 
        {{ replyForm.downArrow(class="vote-button button") }}
        <p class="post-tally">{{ postObject.tally }}</p>
    </div>
    <!--right panel: post content-->
    <div class="post-panel">
        <div class="post-panel__top-line">
            <span class="owner-name">{{ postObject.posting_user }}</span> | <span class="community-content">{{ postObject.community }}</span>
            {{ replyForm.join(class="button-style-a") }}
        </div>
        <div class="post-panel__title-line">
            <span class="post-title">{{ postObject.title }}</span>
        </div>
        <div class="post-panel__post-content">
            <p class="post-content">{{ postObject.content }}</p>
        </div>
        <!--REPLY FORM-->
        <form action="" method="POST">
            <div class="post-panel__reply-line">
                {{ replyForm.hidden_tag() }}
                {{ replyForm.replyContent(class="reply-content") }} 
                {{ replyForm.post(class="button-style-b make-button") }} 
            </div>
        </form>
    </div>


    
</div>

{% endmacro %}