<!--File: profile_settings_content.html
    @author: Emily Godwin, David Hovey
    Description: This file contains the profile setttings page template
        that hosts the form calls to change user info templates-->

{% import 'change_avatar.html' as changeAvatar %}
{% import 'change_tagline.html' as changeTagline %}
{% import 'change_password.html' as changePassword %}
{% import 'change_content.html' as changeContent %}

{% macro profile_settings_content(userInfo, changeAvatarForm, changePasswordForm, changeTaglineForm, changeContentForm) %}
<!--CSS Stylesheet-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile-settings.css') }}" />
    <!--body block-->
    <div class="profile-settings-wrapper">

            <div class="user-info-pane">
                <!--Avatar Bubble-->
                <div class="avatar-bubble-pane">
                    <img class="avatar-bubble" src="{{ url_for('static', filename='assets/imagefiles/Profile/' + userInfo.avatar) }}" /> 
                </div>
                <div class="user-details-pane">

                    <!--show the user name-->
                    <span>{{ userInfo.username }}</span>
                    <!--show the tagline-->
                    <span>{{ userInfo.tagline }}</span>
                    <!--show the current user content-->
                    <span>{{ userInfo.summary }}</span>

                <br>
                    <!--change tagline form-->
                    {{ changeTagline.change_tagline_form(changeTaglineForm) }}

                    <!--change password form-->
                    {{ changePassword.change_password_form(changePasswordForm) }}

                    <!--change user content form-->
                    {{ changeContent.change_content_form(changeContentForm) }}
                </div>
              </br>
        <!--avatar macro-->
        {{ changeAvatar.change_avatar_form(changeAvatarForm) }}
    </div>
{% endmacro %}