<!--File: profile_page.html
    @author: Emily Godwin
    Description: This file contains the html template for
        the profile content hub page-->
<!--extend base-->
{% extends 'base.html' %}
<!-- imports -->
{% import 'make_post.html' as makePostTemplate %}
{% import 'sort_post.html' as sortPostTemplate %}
{% import 'post_reply.html' as post_reply %}
{% import 'profile_pane.html' as profilePaneTemplate %}

<!--CSS Stylesheet-->
{% block addedCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/feed.css') }}" /> {% endblock %}

<!--search bar block-->
{% block search %}
<div class="search-container" id="search-container">
    <input id="search-input" type="search" id="form1" class="form-control" placeholder="Search Here"/>
</div>
{% endblock %}

<!-- avatar block -->
{% block avatar %}
<img class="avatar" src="{{ url_for('static', filename='assets/imagefiles/Profile/bee.png') }}" /> 
{% endblock %}

<!--body block-->
{% block body %}
<div class="page">
    <body>
        <div class="content-view">
            <!--left block-->
            <div class="post-pane">
                <!--float the post form at the top-->
                <form method="POST">
                    {{ makePostTemplate.make_post(makePostForm) }} 
                    {{ sortPostTemplate.sort_post(sortPostForm) }}
                </form>
                {% for post in posts %}
                    {{ post_reply.post_reply(replyForm, post) }}
                {% endfor %}
                <!--display the available posts below-->
                <!--post loop-->
                <!--post macros pulled in-->
            </div>
            <!--right block, calls profilePaneTemplate-->
            <div>
                {{ profilePaneTemplate.profile_pane(ProfilePageInfo) }} 
            </div>
    </body>
</div>
{% endblock %}