{% extends "layout.html" %}
{% block body %}
<body>
	<h1 style="text-align: center;">General Purpose Equipment</h1>
	<h2></h2>
	<h3>Some test equipment include:</h3>
	<!-- ordered list -->
	<ol style="list-style-type: upper-alpha;">
		<li>  Oscilliscopes</li>
		<li>  Hand-Held Digital Multimeters</li>
		<li>  High Precision Digital Multimeters</li>
		<li>  LCR Meters</li>
		<li>  Resistance Meters</li>
	</ol>
	<!-- link with descriptions -->
	<p>"<em><a href="https://www.tek.com/oscilloscopes-and-probes">
		Tektronix Products</a></em>" Textronix has more information on these
		Types of Equipment.</p>
</body>
{% endblock %}