{% extends "layout.html" %}
{% block body %}
<body>
	<h1 style="text-align: center;">Biomedical Metrology</h1>
	<h2>Definition</h2>
	<p>Traceable measurements and mathematical models in the field of medical physics and biomedical sciences by ensuring bioinstrumentation is valid for use.</p>
	<h3>Some test equipment include:</h3>
	<!-- ordered list -->
	<ol style="list-style-type: upper-roman;">
		<li>Safety Analyzers</li>
		<li>Patient Simulators</li>
		<li>Defibrillator Analyzers</li>
		<li>Pulse Oximetry Testers</li>
		<li>Electro-Surgical Generator Analyzers</li>
	</ol>
	<!-- link with descriptions -->
	<p>"<em><a href="https://www.flukebiomedical.com/products/biomedical-test-equipment">
		Fluke Biomedical</a></em>" Fluke Biomedical has more information on these
		Types of Equipment.</p>
</body>
{% endblock %}