/*File: feed.css
 @author: Ryan Dombek, Majestic Dwyer, Geoff Floding, Emily Godwin
 Description: This file contains the css classes for
     the community creation page */

/*content pane container*/
.content-view {
    display: flex;
}

/*post pane container*/
.post-pane {
    display: inline-block;
    width: 60%;
}

/*community pane container*/
.community-pain {
    display: inline-block;
    background-color: #E5FFF9;
    margin-left: 85px;
    width: 25%;
    height: 500px;
}

/* container holding the search bar */
#search-container {
    display: inline-block;
    text-align: center;
    width: 60%;
    height: 80%;
    padding-top: 10px;
}

/* input field styling */
#search-input {
    background-color: white;
    width: 80%;
    height: 45%;
}

/*community label on feed page*/
.community-label{
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-size: medium;
}

/*button to link to communityCreationPage*/
.create-comm-button{
    width: 70%;
    height: 10%;
    border-style: groove;
    display: flex;
}

/*decorators for create community button*/
.create-comm{
    text-decoration: none;
    font-size: small;
    align-self: center;
    margin-left: 23%; 
}
