.content-view {
    display: flex;
}

.post-pane {
    display: inline-block;
    width: 60%;
}

.community-pain {
    display: inline-block;
    background-color: #E5FFF9;
    margin-left: 100px;
    width: 25%;
    height: 500px;
}

/* container holding the search bar */
#search-container {
    display: inline-block;
    text-align: center;
    width: 60%;
    height: 80%;
    padding-top: 10px;
}

/* input field styling */
#search-input {
    background-color: white;
    width: 80%;
    height: 45%;
}

.community-label{
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-size: medium;
}