/*File: make-post.css
 @author: Ryan Dombek, Geoff Floding, Majestic Dwyer
 Description: This file contains the css classes for
     the make post template */

/*wrapper to contain make post*/
.make-post-wrapper {
    display: block;
    border-radius: 8px;
    border-style: groove;
    background-color: white;
    margin-bottom: 10px;
}

/*post title*/
.make-post-wrapper .post-title {
    display: block;
    width: 99.6%;
    border-style: groove;
    border-color: lightgrey;
    margin: 0;
    padding: 0;
}

/*post content*/
.make-post-wrapper .post-content {
    display: block;
    width: 99.6%;
    border-style: groove;
    border-color: lightgrey;
     margin: 0;
    padding: 0;
    height: 100px;
}

/*submit button*/
.make-post-wrapper .make-button{
    float: right;
    margin-top: 1%;
}
