.make-post-wrapper {
    display: inline-block;
    display: block;
    margin-bottom: 10px;
}

.make-post-wrapper .post-title {
    display: block;
    width: 99%;
    margin: 0;
    padding: 0;
}

.make-post-wrapper .post-content {
    display: block;
    width: 99%;
    margin: 0;
    padding: 0;
    height: 100px;
}

.make-post-wrapper .make-button{
    float: right;
}