/*File: profile-settings.css
 @author: Emily Godwin
 Description: This file contains the css classes for
     the profile settings page */


.profile-settings-wrapper{
    background-color: #96E6FF;
    display: inline-table;
    height: 300px;
    width: 800px;
    margin-bottom: 10px;
}

.profile-settings-wrapper .user-info-pane{
    width: 50%;
    display: inline-flex;
    margin-left: 5%;
}

.profile-settings-wrapper .user-details-pane{
    display: grid;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 2%;
    padding: 2%;
}

/*left side, avatar image */
.profile-settings-wrapper .avatar-bubble-pane {
    margin-top: 20%;
    height: 100px;
    width: 100px;
}

.profile-settings-wrapper .avatar-bubble {  
    margin-top: 5px;
    height: 120%;
}

.profile-settings-wrapper .avatar-change-pane{
    margin-left: 25%;
    margin-bottom: 5%;
    margin-top: 2%;
    width: 50%;
    height: 20%;
    background-color: white;
}

.profile-settings-wrapper .avatar-change-bubble{
    height: 15%;
    width: 15%;
    margin-top: 5%;
    margin-left: 7%;
    margin-bottom: 2%;
}

.profile-settings-wrapper .save-changes-button{
    margin-left: 5%;
    margin-bottom: 5%;
}
.profile-settings-wrapper .save-button{
    width: 25%;
}

.profile-settings-wrapper .checkBox{
    padding: 1%;
    display: none;
}