/*File: profile-page.css
 @author: Emily Godwin
 Description: This file contains the css classes for
     the profile pane components for the user profile page */

/*wrapper to contain profile information*/
.profile-wrapper {
    background-color: white;
    display: flexbox;
    border-style: groove;
    align-items: self-end;
    height: 400px;
    width: 350px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 40px;
}

.profile-wrapper .upper-block{
    display: inline-flex;
    align-self: flex-start;
    margin-left: 10%;
    margin-top: 5%;

}

/*left side, avatar image */
.profile-wrapper .avatar_panel {
    justify-content: center;
    margin-top: 30px;
    margin-left: 50px;
    height: 80px;
    width: 50px;
}

.profile-wrapper .avatar_image {
    margin-right: 15px;    
}

/* right side, user info */
.profile-wrapper .info-panel {
    display: grid;
    margin-top: 10%;
    margin-left: 2%;
    width: 60%;
    height: 20%;
    background-color: white;
}

/*bottom user content*/
.profile-wrapper .user-content{
    margin-top: 5%;
    margin-left: 8%;
    padding-left: 3%;
    border-style: groove;
    background-color: white;
    height: 50%;
    width: 80%;
}

.profile-wrapper .redirect-profile-settings{
    margin-left: 25%;
    margin-top: 25%;
    width: 35%;
    padding-left: 5%;
}