.sort-post-wrapper {
    display: flex;
    background-color: white;
    border-style: groove;
    border-radius: 8px;
    width: 99.6%;
    height: 40px;
    padding-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    font-family: "Helvetica Neue", "Arial", sans-serif;
}

#postContent {
    left: 10px;
}