<!--extend base-->
{% extends 'base.html' %}
<!-- imports -->
{% import 'make_post.html' as makePostTemplate %} {% import 'sort_post.html' as sortPostTemplate %} {% import 'random_component.html' as rando_component %} {% block addedCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/feed.css') }}" /> {% endblock %}

<!--search bar block-->
{% block search %}
<div class="search-container" id="search-container">
    <input id="search-input" type="search" id="form1" class="form-control" />
</div>
{% endblock %}

<!-- avatar block -->
{% block avatar %}
<img class="avatar" src="{{ url_for('static', filename='assets/imagefiles/Profile/bee.png') }}" /> {% endblock %}

<!--body block-->
{% block body %}
<div class="page">

    <body>
        <div class="content-view">
            <!--left block-->
            <div class="post-pane">
                <!--float the post form at the top-->
                <form method="POST">
                    {{ makePostTemplate.make_post(makePostForm) }} {{ sortPostTemplate.sort_post(sortPostForm) }}
                </form>
                {{ rando_component.rando_component(replyForm) }} {{ rando_component.rando_component(replyForm) }} {{ rando_component.rando_component(replyForm) }} {{ rando_component.rando_component(replyForm) }} {{ rando_component.rando_component(replyForm) }} {{ rando_component.rando_component(replyForm)
                }}
                <!--display the available posts below-->
                <!--post loop-->
                <!--post macros pulled in-->
            </div>
            <!--right block-->
            <div class="community-pain">
                {{ rando_component2.rando_component2(communityPainForm) }}
            </div>
        </div>
    </body>
</div>
{% endblock %}

<!-- <form method="POST">
                    {{ sortPostTemplate.sort_post(sortPostForm) }} 
                    {{ replyTemplate.post(replyForm) }}
                </form>
                <form method="POST">
                    {{ sortPostTemplate.sort_post(sortPostForm) }} 
                    {{ replyTemplate.post(replyForm) }}
                </form> -->