<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kaffeeklatsch</title>
    <link rel="stylesheet" href="/css/globalstylesheet.css">
</head>
<body>
    <!--Header Section--> 
    <div class="header">
        <h1 class="logo">
            <img class="logo" src="/Assets/imagefiles/logo sample v2.png" alt="">
        </h1> 
        <button class="button" style="float: right;">sign up</button>
    </div>

    <!--Page Section-->
    <div class="page">
        <body>
            <div class="container">
            <form method="POST">
                <div class="un">
                    <label for="username">username</label>
                    <input type="text" name="username" style="border-radius: 8px;height: 30px;width: 200px;">
                </div>
                <div class="pw">
                    <label for="password">password</label>
                    <input type="password" name="password" style="border-radius: 8px;height: 30px;width: 200px;">
                </div>
                <div class="b2">
                    <input type="submit" class="submit" value="log in" >
                    <input type="reset" class="reset" value="clear form">
                </div>
            </form><br>
            </div>
        </body>
    </div>
</body>
</html>