{% macro post(replyForm) %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/post.css') }}" />
<div class="post-wrapper">

    <!--left panel : up and down buttons-->
    <div class="vote-panel">
        {{ replyForm.upArrow(class="vote-button") }} 
        {{ replyForm.downArrow(class="vote-button") }}
    </div>
    <!--right panel: post content-->
    <div class="post-panel">
        <div class="post-panel__top-line">
            {{ replyForm.ownerName(class="owner-name") }} 
            {{ replyForm.communityInfo(class="community-content") }} 
            {{ replyForm.like() }}
        </div>
        <div class="post-panel__title-line">
            {{ replyForm.postTitle(class="post-content") }} 
        </div>
        <div class="post-panel__post-content">
            {{ replyForm.ownerContent(class="owner-content") }} 
        </div>
        <div class="post-panel__reply-line">
            {{ replyForm.replyContent(class="reply-content") }} 
            {{ replyForm.post() }} 
        </div>
    </div>


    
</div>

{% endmacro %}