<!-- add in the base template-->
{% extends 'base.html' %}

<!-- start head (set title)-->
{% block head %}
    <title>Hovey P7</title>
{% endblock %}

<!-- start body (add content)-->
{% block body %}
    <h1>Welcome To David Hovey's Week 7 Project Page</h1>
    <!--this would update dynamically if I was better (I believe that would require JS)-->
    <h2>It is Currently - {{ dateTime.strftime("%d/%m/%y %H:%M:%S") }}</h2>

    <!-- loop through garbage dict passed in from .py file -->
    {% for item in garbage %}
    <h3>{{ item.title }}</h3>
    <p><a href="{{ item.link }}">{{ item.title.lower() }}</a></p>
    <P>{{ item.text }}</P>
    {% endfor %}
    
    <!-- loop through the photos and put them on the page -->

    <h3>Random Cat Photos!</h3>
    {% for path in imagePaths %}
        <p>
            <image src="{{ path }}">
        </p>
    {% endfor %}

    <!-- loop through reasons I can't go to something -->
    <h3>Even if I wanted to go my schedule wouldn't allow it!</h3>
    <p>
        <ol>
            {% for event in schedule %}
            <li>{{ event }}</li>
            {% endfor %}
        </ol>
    </p>
    <h3>...I'm booked!</h3>

    <h3>Current Hate Registry</h3>
    <div class="container">
        {{ table_html | safe }}
    </div>

    <div class="container">
        <!-- form -->
        <form method ="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Remind me why I hate you</legend>
                <div class="form-group">
                    <!-- set form labels-->
                    {{ form.firstName.label(class="form-control-label") }}
                    <!--error catching-->
                    {% if form.firstName.errors %}
                        <!-- set form field-->
                        {{ form.firstName(class="form-control form-control-lg is-invalid") }}
                        <!-- display errors-->
                        <div class="invalid-feedback">
                            <!-- loop through errors-->
                            {% for error in form.firstName.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>

                    {% else %}
                        {{ form.firstName(class="form-control form-control-lg") }}                    
                    {% endif %}
                </div>
                <div class="form-group">
                    <!-- last name label-->
                    {{ form.lastName.label(class="form-control-label") }}
                    <!-- last name field-->
                    {{ form.lastName(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    <!-- reason for hate label-->
                    {{ form.reasonForHate.label(class="form-control-label") }}
                    <!-- reason for hate field-->
                    {{ form.reasonForHate(class="form-control form-control-lg") }}
                </div>
            </fieldset>
            <div class="form-group">
                <!-- submit button-->
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock %}